.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;

  height: 25vh;

  overflow: hidden;
  position: relative;

  transition: .1s;
}
.pokemon:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px black);
  transition: .2s;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 50%;

  max-height: 125%;

  position: absolute;
  right: 5%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  position: relative;
  height: 2rem;
  width: 5rem;
  background-color: rgba(255, 255, 255, 0.06125);
  border: none;
  border-radius: 1rem;
  background-image: url("../images/ellipsis.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.pagination button:hover
{
  scale: 1.05;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
